<form style="margin-left:25px" action='/login/attempt' method='post' class="form-inline well">
  <input type="text" name='username' placeholder="username" autofocus>
  <input type="text" name='pass' placeholder="pass">
  <input class="btn primary" type='submit' value='log in'>
</form>
